<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
<!--COMENTAR A LA BASE DE DATOS-->
	<connectionStrings>
		<add name="conectar"connectionString="server=VASELINA-3;integrate Security=yes;Database=MANTENIMUENTO_PRODUCTOS"/>
	</connectionStrings>
		
	
</configuration>